<launch>
  <!-- We want to wait for the ARK to start up, so we don't run right away -->
  <arg name="node_start_delay" default="4.0" />  
  <arg name="route" default="$(dirname)/../config/route.json"/>
  <arg name="map" default="top-floor-robotics"/>
  <arg name="waypoint" default="0" />

  <!-- For using the RealSense (untested)
    <include file="$(dirname)/realsense_laser_scan.launch" />
  -->

  <!-- Start the ARK navigation server -->
  <include file="$(find husky_cpr_ark_navigation)/launch/husky_ark_navigation.launch">
      <arg name="front_laser" value="/front/scan_processed"/>
      <arg name="rear_laser" value="/rear/scan_processed"/>
  </include>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen"
      name="laser_filter_front">
    <rosparam command="load" file="$(dirname)/../config/laser_filter_config.yaml" />
    <remap from="scan" to="/front/scan" />
    <remap from="scan_filtered" to="/front/scan_processed" />
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen"
      name="laser_filter_rear">
    <rosparam command="load" file="$(dirname)/../config/laser_filter_config.yaml" />
    <remap from="scan" to="/rear/scan" />
    <remap from="scan_filtered" to="/rear/scan_processed" />
  </node>

  <!-- Launch the custom husky_ark node -->
  <node pkg="husky_ark_armlab" type="husky_ark_armlab.py" 
    name="husky_ark_armlab" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "
    args="--route $(arg route) --map $(arg map) --waypoint_index $(arg waypoint)">
      <rosparam command="load" file="$(dirname)/../config/default.yaml" />
  </node>
</launch>
