<launch>
    <!-- 
          Source: https://github.com/IntelRealSense/realsense-ros/blob/development/realsense2_camera/launch/rs_rtabmap.launch
          NOTICE: Installation of rtabmap is required for using this launch file:
                  For installation type:
                        apt-get install ros-kinetic-rtabmap-ros
    -->
    <arg name="device_type"    		      default="d4.5"/>	<!-- Note: using regular expression. match D435, D435i, D415... -->
    <arg name="serial_no"    			  default=""/>
    <arg name="camera"                    default="D455"/>		<!-- Note: Replace with camera name -->
    <arg name="clip_distance"             default="-2"/>
    
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="device_type"             value="$(arg device_type)"/>
        <arg name="serial_no"               value="$(arg serial_no)"/>
        <arg name="camera"                  value="$(arg camera)"/>
        <arg name="clip_distance"           value="$(arg clip_distance)"/>
        <arg name="enable_pointcloud"       value="false"/>
    </include>

     <!--- Depth image to laser scan -->
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" >
        <param name="scan_height" value="3"/> 
        <param name="output_frame_id" value="base_link"/>
        <remap from="image" to="/$(arg camera)/depth/image_rect_raw" />
    </node>

    <!-- Transform from RealSense to base link 
        static_transform_publisher x y z qx qy qz qw frame_id child_frame_id
    -->

    <!-- This transform is for when the camera is on the arm -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0.4 0.0 0.9 0 0 0 1 base_link D455_link" /> -->

    <!-- This transform is for when the camera is above the front lidar -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0.4 0.0 0.9 0 0 0 1 base_link D455_link" />

</launch>